.door {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #c61c29;
	width: 200px;
	height: 200px;
	margin: 25px;
	border-radius: 10px;
	font-size: 32px;
	color: #fff;
	border: 3px solid #fff;
	transition: background-color 0.3s ease-in;
}
